<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

</head>
<body>
<style type="text/css">
  td, th {
    padding: 0 15px 0 15px;
    text-align: left;
  }

</style>
<br>
<div class="col-md-8"> 
  Hi <%- rc.userFullName %>  <br/><br/>
  你在故事大王网站上请求重新设置账户密码， 你的账户信息如下：<br/>
  账户名： <%- rc.userName %>  <br/>
  电子邮件: <%- rc.email %>    <br/><br/>

  要重新设置账户密码，请点击下面链接 <br/><br/>
 
  <a href="<%- rc.link %>"> 重设密码 </a>
  
<br/> 

故事大王 

</div>
</body>
</html> 